interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://sandbox.asaas.com/api/v3/myAccount/documents
  response:
    body:
      string: "{\"rejectReasons\":null,\"data\":[{\"id\":\"766a9870-4abc-4cce-b618-99f8b8cc9334\",\"status\":\"NOT_SENT\",\"type\":\"IDENTIFICATION\",\"title\":\"Documentos
        de identifica\xE7\xE3o\",\"description\":\"Para enviar esse documento acesse
        nosso aplicativo ou utilize o link de onboarding.\",\"responsible\":{\"name\":\"Porco
        Rosso\",\"type\":\"ASAAS_ACCOUNT_OWNER\"},\"onboardingUrl\":null,\"documents\":[]},{\"id\":\"766a9870-4abc-4cce-b618-99f8b8cc9334\",\"status\":\"NOT_SENT\",\"type\":\"IDENTIFICATION_SELFIE\",\"title\":\"Selfie
        de identifica\xE7\xE3o\",\"description\":\"Para enviar esse documento acesse
        nosso aplicativo ou utilize o link de onboarding.\",\"responsible\":{\"name\":\"Porco
        Rosso\",\"type\":\"ASAAS_ACCOUNT_OWNER\"},\"onboardingUrl\":null,\"documents\":[]}]}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: ''
version: 1
